@value dimensions: 'ui/styles/dimensions';
@value colors: 'ui/styles/colors';

@value --margin-vspace, --border-width from dimensions;

@value --base-black from colors;

@value --ff-default: Helvetica, sans-serif;
@value --ff-header: --ff-default;
@value --ff-mono: Menlo, monospace;

@value --fweight-strong: 700;

@value --fsize-text: 1rem;
@value --fsize-header: 1.5rem;
@value --fsize-subheader: 1.25rem;

.base-text {
  box-sizing: border-box;
  font-family: --ff-default;
  font-size: --fsize-text;
  line-height: 1;
  text-decoration: none;
  margin: 0;
  color: var(--color-fg);
}

.text-underline {
  position: relative;
  &::after {
    --color-border: inherit;
    position: absolute;
    display: block;
    content: ' ';
    height: --border-width;
    width: 100%;
    bottom: resolve(-1 * --border-width);
    left: 0;
    background-color: var(--color-border);
  }
}

/*
 * For when a non textual element is a link, and you want to supress
 * underlining all the text inside the element.
 */
.link-supress {
  cursor: pointer;
  text-decoration: none;
}

.base-link {
  composes: base-text;
  composes: link-supress;
  composes: text-underline;
  font-family: --ff-header;
  font-weight: 700;
  position: relative;

  &::after {
    opacity: 0;
  }
  &:hover::after {
    opacity: 1;
  }
}

.base-header {
  composes: base-text;
  font-family: --ff-header;
  font-size: --fsize-header;
  font-weight: 300;
  margin: 0;
  & + .base-header {
    padding-top: --margin-vspace;
  }
}

.base-subheader {
  composes: base-header;
  font-size: --fsize-subheader;
}
