@value dimensions from 'ui/styles/dimensions';
@value typography: 'ui/styles/typography';
@value colors: 'ui/styles/colors';
@value graphs: 'ui/styles/reuse/graphs';


@value --ff-mono from typography;
@value --base-fg from colors;
@value line-width, margin from graphs;

@value pointSize: 7px;

.root {

}

.svg_root {

}

.x_axis, .y_axis {
  composes: axis from graphs;
}

.x_axis > :global(.tick > text) {
  font-size: 1rem;
  transform: translateY(6px);
}

.line {
  composes: line from graphs;
}

.axis_label {
  composes: axis_label from graphs;
}

.data_point {
  composes: data_point from graphs;
}
