{{#layout/-container local-class="container"}}
  <h1 local-class="title">Thesis</h1>
  <div local-class="nav">
    {{#each links as |link|}}
      {{#link-to link.route local-class="link"}}{{link.label}}{{/link-to}}
    {{/each}}
  </div>
{{/layout/-container}}
