@value typography: 'ui/styles/typography';
@value colors: 'ui/styles/colors';
@value graphs: 'ui/styles/reuse/graphs';

@value --ff-mono from typography;
@value --base-fg from colors;

@value line-width, margin from graphs;

.root {
  width: 100%;
}

.svg_root {

}

.main {

}

.x_axis, .y_axis {
  composes: axis from graphs;
}

.data_point {
  composes: data_point from graphs;
}

.axis_label {
  composes: axis_label from graphs;
}

.line {
  composes: line from graphs;
}
