@value typography: 'ui/styles/typography';
@value colors: 'ui/styles/colors';
@value graphs: 'ui/styles/reuse/graphs';

@value --ff-mono from typography;
@value --base-fg from colors;

@value line-width, margin from graphs;

.root {
  width: 100%;
}

.svg_root {

}

.main {

}

.x_axis, .y_axis {
  composes: axis from graphs;
}

.y_axis > :global(.domain) {
  stroke-width: 0;
}

.y_axis > :global(.tick > line) {
  stroke-width: 1px;
  stroke-dasharray: 2,2;
  opacity: 0.5;
}

.x_axis > :global(.tick) > text {
  font-size: 0.6rem;
  transform: rotate(-5deg) translateY(5px);
  text-anchor: end;
}

.data_point {
  composes: data_point from graphs;
}

.axis_label {
  composes: axis_label from graphs;
}

.line {
  composes: line from graphs;
  stroke-width: 3px;
}
