@value --base-black from 'ui/styles/colors';

.root {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 2rem;
}

.svg_root {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  pointer-events: all;
  user-select: none;
}

.circle {
  fill: transparent;
  stroke: --base-black;
  pointer-events: all;
  cursor: move;
}

.stroke {
  stroke: --base-black;
}

.inner {
  composes: stroke;
  stroke-width: 4px;
}

.outer {
  composes: stroke;
  stroke-width: 2px;
}
