@value typography: 'ui/styles/typography';
@value layout: 'ui/styles/layout';
@value colors: 'ui/styles/colors';

@value --base-fg from colors;
@value --base-bg from colors;

.page-header {
  composes: base-header from typography;
}

.list {
  composes: base-list from layout;
}

.list-item {
  composes: base-text from typography;
  composes: base-list-it from layout;
  composes: color-configable from colors;

  --color-fg: --base-fg;
  &:hover {
    --color-bg: --base-fg;
    --color-fg: --base-bg;
  }
}


.list-item-text {
  composes: text-underline from typography;
}
