{{#layout/-container}}
  <h2 local-class="page-header">Packages</h2>
  <div local-class="list">
    {{#each model as |package|}}
      {{#link-to "package.show" package.id local-class="list-item"}}
        <span local-class="list-item-text">{{package.name}}</span>
      {{/link-to}}
    {{/each}}
  </div>
{{/layout/-container}}
