@value --ff-mono from 'ui/styles/typography';
@value --unit from 'ui/styles/dimensions';

.item {
  & + .item {
    margin-left: --unit;
  }
}

.root {
  composes: base-text from 'ui/styles/typography';
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.row {
  composes: base-text from 'ui/styles/typography';
  display: flex;
  flex-direction: row;
  padding: --unit 0;
  width: 100%;
}

.drop-down {
  composes: item;
  flex-shirk: 2;
  width: 100%;
}

.label-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: strech;
  align-items: center;
  composes: item;
  width: 100%;
}

.label {
  composes: base-text from 'ui/styles/typography';
  font-weight: 700;
  box-sizing: border-box;
  margin-right: --unit;
  width: 115px;
  line-height: 1;
  text-align: right;
}
