@value dimensions: 'ui/styles/dimensions';
@value typography: 'ui/styles/typography';
@value colors: 'ui/styles/colors';
@value tags: 'ui/styles/reuse/script-tags';

@value --margin-hspace from dimensions;
@value --margin-vspace from dimensions;
@value --border-width from dimensions;

@value --base-fg from colors;
@value --base-bg from colors;

@value --fweight-strong from typography;
@value --ff-mono from typography;


.title {
  composes: base-subheader from typography;
}

@value repr-hpad: resolve(2 * --margin-hspace);

.repr {
  composes: color-inverse from colors;
  box-sizing: border-box;
  margin: --margin-vspace 0 0;
  border: repr-hpad var(--color-border) solid;
  overflow-x: scroll;
  max-width: calc(100% - repr-hpad);
  max-height: 60vh;
  line-height: 1;
}

.hash, .meta-value {
  font-family: --ff-mono;
  font-weight: --fweight-strong;
}

.tags {
  composes: tag-list from tags;
}

.tag {
  composes: tag from tags;
}

.meta {
  padding: --margin-vspace 0;
}

.meta-pair {
  composes: base-text from typography;
  & + & {
    padding: resolve(--margin-vspace / 2) 0;
  }
}
