@value dimensions: 'ui/styles/dimensions';
@value typography: 'ui/styles/typography';
@value colors: 'ui/styles/colors';

@value --base-fg from colors;
@value --base-bg from colors;

@value --ff-mono from typography;

@value --border-width from dimensions;
@value --unit from dimensions;

.page-header {
  composes: base-subheader from typography;
}

.options {
  display: flex;
  justify-content: space-between;
  padding-top: --unit;
}

.option {
  composes: base-text from typography;
  composes: color-inverse from colors;
  --color-fg: --base-fg;
  --color-bg: --base-bg;

  color: var(--color-bg);
  background: var(--color-fg);

  font-family: --ff-mono;
  width: 100%;
  text-align: center;
  padding: --unit;
  border: --border-width var(--color-bg) solid;

  & + .option {
    margin-left: --unit;
  }

  &:global(.active) {
    color: var(--color-fg);
    background: var(--color-bg);
    box-sizing: content-box;
    border-color: var(--color-fg);
  }
}
