{{core/-header}}
{{#layout/-container}}
  <h2 local-class="page-header">Visualisations</h2>
  <div local-class="options">
    {{#link-to "vis.scatter" local-class="option"}}Spacial Comparison{{/link-to}}
    {{#link-to "vis.versions" local-class="option"}}Version{{/link-to}}
    {{#link-to "vis.index" local-class="option"}}???{{/link-to}}
  </div>
  {{outlet}}
{{/layout/-container}}
