{{core/-header}}
{{#layout/-container}}
  <h2 local-class="page-header">Visualisations</h2>
  <div local-class="options">
    {{#link-to "vis.scatter" local-class="option"}}Output vs Time, Correlation{{/link-to}}
    {{#link-to "vis.versions" local-class="option"}}GHC Regressions{{/link-to}}
  </div>
  {{outlet}}
{{/layout/-container}}
